.card-title {
    font-size: 1em; /* Размер заголовка товара */
}

.card-text {
    font-size: 0.8em; /* Размер остальной информации */
}

.badge {
    font-size: 0.7em; /* Размер меток категорий */
}